.MainModule{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 35px  rgb(161 106 37);
}

.Image img{
    width: 200px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.header{
    text-align: center;
    font: 25px Arial, sans-serif;
}

.subheading1{
    text-align: center;
    font-weight: 500;
    margin: 0px;
}

.subheading2{
    text-align: center;
    font-weight: 100;
    font-size:small;
    margin-top: 10px;
    margin-bottom: 25px;
}

.InputModule{
    border: none;
    border-bottom: 2px solid #000000;
    height: 1rem;
    display: inline;
    text-align: center;
    margin: auto;
    display: flex;
}
