.Heading1{
    margin: 0px;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
}

.Heading2{
    margin: 0px;
    font-weight: 100;
    font-size:small;
    margin-top: -10px;
}

.PasswordField{
    width: 18rem;
    height: 2rem;
    margin-bottom: 15px;
    border-radius: 5px;
    background: url(https://img.icons8.com/material-outlined/2x/hide.png) no-repeat scroll 265px;
    background-size: 20px;
    margin-bottom: 8px;
   }

  